/* Styles for the table */
table {
  width: 100%;
  table-layout: fixed;
  background-color: #363636;
  border-spacing: 0;
}

/* Styles for the table content */
.tbl-content {
  height: 300px;
  overflow-x: auto; /*adding scroll-behavior*/
  margin-top: 0px;

}

/* Styles for table headers (table column headers) */
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  
}

/* Styles for table cells (table content cells) */
td {
  padding: 18px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  font-size: 15px;
  color: #f5eeee;
}

/* Background gradient for the body */
body {
  background-color: #363636;
  font-family: 'Roboto', sans-serif;
}

/* Center "Customer Details" heading */
h1 {
  font-size: 24px;
  color: #fff5f5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
}

/* Styles for the popup */
p {
  font-size: 18px; /* Increase font size for better readability in the modal */
  color: #000000; /* Set text color to black for better visibility */
}

/* .create-button{
  background-color: rgb(47, 255, 220);
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
} */
/* Additional styles for table hover effects */

thead {
  background-color: #363636!important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}





/* Task5Home.module.css */
/* Common styles for both pages */
.container {
  padding: 20px;
  margin: auto;
  width: 60%;
  text-align: left;
  background-color: rgba(71, 71, 71, 0);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(68, 67, 67, 0.582);
}

/* Task5Home.module.css */
.container h1 {
  font-size: 24px;
  color: #d4d4d4;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.container label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #bebebe;
}

.container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid #0bb397;
  color: #a39c9c;
}

.container button {
  background-color: #00e6db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container button:hover {
  background-color: #0093b8;
}

/* Task5Creation */
.Container {
  padding: 20px;
  margin: auto;
  width: 60%;
  text-align: left;
  background-color: rgba(71, 71, 71, 0);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(68, 67, 67, 0.582);
}

.Container h1 {
  font-size: 24px;
  color: #e7e0e0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.Container label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #adaaaa;
}

.Container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #0bb397;
  color: #979797;
}

.Container button {
  background-color: #00d7e6b0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Container button:hover {
  background-color: #13ffb8;
}


/*Counter*/

.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.countContainer {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  font-size: 10em; /* Increase the font size */
  color: #666;
}

.goBack {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Go back--button Task 5*/
.goBack {
  display: inline-block;
  padding-left: 30px;
  color: #31e7ff73;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.goBack:hover {
  color:#0dc1a7;
  transform: scale(1.1);
}


/* Theme-button */

.theme-button.light {
  background-color: white;
  color: black;
}

.theme-button.dark {
  background-color: black;
  color: white;
}

/* Light Theme */


/* Dark Theme */
.App.dark {
  background-color: #c7c7c7dc !important; /* Dark gray or black */
  color: rgb(46, 46, 46) !important;
}
