/* Styles for the table */
table {
  width: 100%;
  table-layout: fixed;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  border-collapse: collapse;
  border: 1px solid rgba(211, 211, 211, 0.3);
  border-spacing: 0;
}

/* Styles for the table content */
.tbl-content {
  height: 300px;
  overflow-x: auto; /*adding scroll-behavior*/
  margin-top: 0px;
  border: 1px solid rgba(211, 211, 211, 0.3);
}

/* Styles for table headers (table column headers) */
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
}

/* Styles for table cells (table content cells) */
td {
  padding: 18px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  font-size: 15px;
  color: #000000;
}

/* Background gradient for the body */
body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

/* Center "Customer Details" heading */
h1 {
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
}

/* Styles for the popup */
p {
  font-size: 18px; /* Increase font size for better readability in the modal */
  color: #000000; /* Set text color to black for better visibility */
}

/* .create-button{
  background-color: rgb(47, 255, 220);
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
} */
